body {
    background-image: url("../img/circles-dark.png");
    font-family: "Trebuchet MS", sans-serif;
    margin: 0;
    padding: 0;

}

#wrapper {
    height: 90vh;
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
}


#border {
    width: 95%;
    border: 1px solid grey;
    border-radius: 10px;
    align-self: center;
}

#header {
    display: flex;

}
#header h2 {
    justify-content: flex-end;
}
#buttons {
    display: flex;
    flex-direction: column;
}
.link-button {
    width: 100%;
    background-color: #61C3D7;
    padding: 4vh 0;
    text-align: center;
    text-decoration: none;
    color: #000;
    font-weight: bold;
}
.link-button:nth-child(2) {
    background-color: #E0633F;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;

}



#footer-wrapper {
    display: flex;
    flex-direction: row;

}
#m-menu-bar {
    display: flex;
    padding-top: 3vh;
    padding-bottom: 3vh;
    background-color: lightgray;
    width: 100%;
    justify-content: space-evenly;
    position: fixed;
    bottom:0;
}
#m-menu-bar > a {
    text-decoration: none;
    color: black;
    font-weight: bold;
    justify-self: center;
}


#header-menu {
    display: none;
}