body {
    padding: 0;
    margin: 0;
    display: flex;
    background-image: url("../img/circles-dark.png");
    font-family: "Trebuchet MS", sans-serif;
}
.link-button {
    font-weight: bold;
    text-decoration: none;
    padding-left: 4vw;
    color: white;
    background-color: #61C3D7;
    padding-top: 4vh;
    padding-bottom: 4vh;
    justify-content: center;
}
.link-button:nth-child(2) {
    background-color: #E0633F;
}
#buttons {
    display: flex;
    flex-direction: column;
}
#lg-menu-bar {
    display: none;
}

#wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-self: center;
}
#header {
    font-family: 'Exo 2', sans-serif;
    font-weight: bold;
    text-align: end;
    width: 95%;
}
#footer-wrapper {
    display: flex;
    flex-direction: row;

}
#m-menu-bar {
    display: flex;
    padding-top: 3vh;
    padding-bottom: 3vh;
    background-color: lightgray;
    width: 100%;
    justify-content: space-evenly;
    position: fixed;
    bottom:0px;
}
#m-menu-bar > a {
    text-decoration: none;
    color: black;
    font-weight: bold;
    justify-self: center;
}

@media (min-width: 700px) {
    #m-menu-bar {
        display: none;
    }

    #lg-menu-bar {
        display: flex;
        flex-direction: column;
        justify-self: flex-start;
        margin-left: 10vw;
        margin-top: 4.5vh;
    }
    #lg-menu-bar > a {
        width: auto;
        display: flex;
        margin-bottom: 2vh;
        justify-content: flex-end;
        font-weight: bold;
        text-decoration: none;
        color: black;
        font-size: 2vh;
    }

    #wrapper {

        flex-direction: row;
        flex-wrap: wrap;
    }

    #header-menu {
        width: 5vw;
    }

    #header {
        width: 100%;
        margin-top: 20vh;
        text-align: center;
        margin-right: 5vw;
    }
    #buttons {
        flex-direction: row;
    }
    .link-button {
        padding-right: 4vw;
        height: 40vh;
    }
    .link-button:nth-child(2) {
        /*margin-left: 10vw;*/

    }
}