body {
    margin: 0;
    padding: 0;
    height: 100vh;
    flex-direction: column;
    background-color: #696969;
    font-family: "Trebuchet MS", sans-serif;
}
main {
    background: #696969
    url("../img/forge.JPG") no-repeat center;

    background-size: cover;
}
.hero-text {
    /*background: rgba(250, 128, 114, 0.6);*/
    border-radius: 5px;
    padding: .1vw;
    width: auto;
    text-align: center;
    font-weight: bold;
    font-family: 'Oswald', "Trebuchet MS", sans-serif;
    font-size: 8vh;
    color: dimgrey;
}
#header-menu {
    display: none;
}
#footer-wrapper {
    display: flex;
    justify-content: center;
}
#m-menu-bar {
    display: flex;
    padding-top: 3vh;
    padding-bottom: 3vh;
    background-color: lightgray;
    width: 100%;
    justify-content: space-evenly;
    position: fixed;
    bottom: 0;

}
#m-menu-bar > a {
    text-decoration: none;
    color: black;
    font-weight: bold;
    justify-self: stretch;
    text-align: center;
}
#wrapper {
    display: flex;
    height: 91.7vh;
    width: 100%;
    font-size: 2.5vh;
    align-items: flex-end;
    justify-content: center;
    align-self: flex-end;
}


@media (min-width: 700px) {

    #wrapper {
        height: 78.3vh;
    }

    #m-menu-bar {
        display: none;
    }

    #header-menu {
        display: flex;
        justify-content: flex-start;
    }

    #lg-menu-bar {
        display: flex;
        flex-direction: column;
        justify-self: flex-start;
        margin-left: 1vw;
        margin-top: 4.5vh;
    }

    #lg-menu-bar > a {
        font-family: 'Alegreya Sans SC', sans-serif;
        width: auto;
        display: flex;
        margin-bottom: 2vh;
        justify-content: flex-end;
        font-weight: bold;
        text-decoration: none;
        color: orange;
        font-size: 2vh;
    }

    .hero-text {

        padding: 1vh;
    }

}